<div class="card" ng-class="{yellow: data.priority == 'low', orange: data.priority == 'medium', pink: data.priority == 'high', red: data.priority == 'omega'}">
  <h3>{{data.title}}</h3>
  <p>created by: {{createdByName}}</p>
  <p>assigned to: {{assignedToName}}</p>
  <p>priority: {{data.priority}}</p>
  <div class="buttons">
    <div class="status">
      <form ng-submit="update($event)">
        <button type="submit" name="newStatus" value="queue">Queue</button>
      </form>
      <form ng-submit="update($event)">
        <button type="submit" name="newStatus" value="in-progress">In-Progress</button>
      </form>
      <form ng-submit="update($event)">
        <button type="submit" name="newStatus" value="done">Done</button>
      </form>
    </div>
    <form ng-submit="delete()">
      <input type="submit" value="Delete" />
    </form>
  </div>
</div>