<div>
  <div ng-class="{yellow: card.priority == 'low', orange: card.priority == 'medium', pink: card.priority == 'high', red: card.priority == 'omega'}" class="editCard">
    <div class="">
      <input type="text" value="{{card.title}}" required></input>
    </div>
    <div class="">
    Creator:
    <select name="creator_id">
      <option ng-repeat="user in users" value="{{user.id}}">{{user.userName}}</option>
    </select>
    Assignee:
    <select name="assignee_id">
      <option ng-repeat="user in users" value="{{user.id}}">{{user.userName}}</option>
    </select>
    Priority:
    <select name="priority">
      <option value="{{user.priority}}">{{user.priority}}</option>
    </select>


      <form ng-submit="delete()">
        <input type="submit" value="Delete" />
      </form>

    </div>
  </div>
</div>