<div class="container-column" >

{{cards.length}}
  <div class="queue item-column">
    <h2>Queue</h2>
    <div ng-repeat="card in cards | filter:{status: 'queue'}">
      <card-directive card="card" refresh-cards="refreshCards"></card-directive>
    </div>
  </div>

  <div class="in-progress item-column">
    <h2>In-Progress</h2>
    <div ng-repeat="card in cards | filter:{status: 'in-progress'}">
      <card-directive card="card" refresh-cards="refreshCards"></card-directive>
    </div>
  </div>

  <div class="done item-column">
    <h2>Done</h2>
    <div ng-repeat="card in cards | filter:{status: 'done'}">
      <card-directive card="card" refresh-cards="refreshCards"></card-directive>
    </div>
  </div>

</div>