<div class="container-column" ng-controller="MyController">

  <div class="card-maker">
    <form>
      Title: <input type="text" ng-model="title">
      Priotity: <input type="text" ng-model="priority">
      Created By: <input type="text" ng-model="createdBy">
      Assign To: <input type="text" ng-model="assignedTo">
      <button ng-click="CardService.addBook(title, priority, createdBy, assignedTo);
        title='';
        priority='';
        createdBy='';
        assignedTo='';
      ">Add Card</button>
    </form>
  </div>

  <div class="queue item-column">
    <h2>Queue</h2>
    <div class="card">
      <h3>Task #1</h3>
      <p>by {{myFirstName}}</p>
    </div>
  </div>

  <div class="in-progress item-column">
    <h2>In-Progress</h2>
  </div>
  <div class="done item-column">
    <h2>Done</h2>
  </div>
</div>