<div class="callout small card" ng-class="{yellow: data.priority == 'low', orange: data.priority == 'medium', pink: data.priority == 'high', red: data.priority == 'omega'}">
    <h3 class="cardTitle">{{data.title}}</h3>
    <a href="/#/editCard/{{data.id}}">Edit</a>
    <p><strong>Details:</strong> {{data.details}}</p>
    <p><strong>Created by:</strong> {{createdByName}}</p>
    <p><strong>Assigned to:</strong> {{assignedToName}}</p>
    <p><strong>Priority:</strong> {{data.priority}}</p>
</div>