<div>
  <div ng-class="{yellow: card.priority == 'low', orange: card.priority == 'medium', pink: card.priority == 'high', red: card.priority == 'omega'}" class="editCard">
    <form ng-submit="update($event)">
      <div class="">
        Title: <input type="text" name="title" value="{{card.title}}" required/>
        <br>
        Creator:
        <select name="creator_id">
          <option ng-repeat="user in users" value="{{user.id}}">{{user.username}}</option>
        </select>
        <br>
        Assignee:
        <select name="assignee_id">
          <option ng-repeat="user in users" value="{{user.id}}">{{user.username}}</option>
        </select>
        <br>
        Priority:
        <select name="priority">
          <option ng-repeat="priority in priorities" value="{{priority}}">{{priority}}</option>
        </select>
        <br>
        Status:
        <select name="status">
          <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
        </select>
        <br>
        <button>Update</button>
      </div>
    </form>

    <form ng-submit="delete()">
      <input type="submit" value="Delete" />
    </form>
    <a href="/#/" >Cancel</a>

  </div>
</div>