* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #F3F3F3;
}

h1 {
  text-align: center;
}

h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

.wrapper {
  height: 100%;
}

.make-user, .card-maker {
  margin: 15px;
  min-width: 700px;
}

.container-column {
/*  display: flex;*/
  height: 100%;
  width: 100%;
  min-width: 900px;
}

.item-column {
  width: 30%;
  min-width: 270px;
  height: 100%;
  margin: 15px;
  padding: 10px;
  float: left;
  overflow: scroll;
}

.queue, .in-progress, .done {
  height: 100%;

}

.queue {
  background-color: gray;
}

.in-progress {
  background-color: cornflowerblue;
}

.done {
  background-color: lightblue;
}

.card {
/*  width: 100%;*/
  height: 130px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.cardHeader {
  height: 20%;
}

.cardBody {
  height: 80%;
}

.cardTitle {
  float: left;
}

.cardEdit {
  float: right;
}

.yellow {
  border: 4px solid yellow;
  background-color: #ffffe6;
}

.yellow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 10px #E8E8E8;
}

.orange {
  border: 4px solid orange;
  background-color: #fff6e6;
}

.orange:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 10px #E8E8E8;
}

.pink {
  border: 4px solid pink;
  background-color: #ffe6ea;
}

.pink:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 10px #E8E8E8;
}

.red {
  border: 4px solid red;
  background-color: #ffe6e6;
}

.red:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 10px #E8E8E8;
}

.status > form > button {
  float: left;
}

.editCard {
  display: inline-block;
  padding: 15px;
  height: 80%;
  width: 80%;
}

.input {
  margin: 3px;
}