* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  height: 100%;
}

.container-column {
/*  display: flex;*/
  background-color: lightgreen;
  height: 100%;
  width: 100%;
}

.item-column {
  width: 30%;
  height: 100%;
  margin: 15px;
  padding: 10px;
  float: left;
}

.queue {
  background-color: gray;
}

.in-progress {
  background-color: cornflowerblue;
}

.done {
  background-color: lightblue;
}

.card {
  width: 100%;
  height: 100px;
  background-color: pink;
}